body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(190, 175, 175);
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#display img {
    height: 400px;
    width: auto;
    object-fit: cover;
    margin: 20px;
}






.searchbar {
    z-index: 101; /* Higher than the thumbnail container */
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
    outline: none; /* Removes default focus outline */
}

/* For desktop */
@media (width >= 600px) {
 
    /* If your browser doesn't have a useragent style for this, you should add it. */
    /* .thumb-image:focus{
       border: 2px solid white
    } */
 
    .searchbar {
        width: 200px; 
    }
    
}
